/* epilogue-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/epilogue-v17-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* epilogue-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/epilogue-v17-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* epilogue-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/epilogue-v17-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* epilogue-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/epilogue-v17-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* epilogue-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/epilogue-v17-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* epilogue-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/epilogue-v17-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
}

html {
  font-size: 62.5%;
}

ul,
ol,
li {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
}

.head {
  display: flex;
  align-items: center;
}

.heder-line {
  padding-top: 2.1rem;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ul-line {
  display: flex;
  gap: 40px;

  li:hover {
    cursor: pointer;
  }
}

.ul-line {
  margin-left: 6.3rem;
  li {
    a {
      font-family: "Epilogue";
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.1em;
      list-style: none;
      text-decoration: none;
      color: #686868;
    }
  }
}

.ul-line {
  a:hover {
    color: #000;
  }
}

.sitenav-item {
  position: relative;
}

.item-text {
  font-family: "Epilogue";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1em;
  color: #686868;
}

.item-text:hover {
  color: #000;
}

.sitenav-item:hover .sitenav-hidden {
  opacity: 1;
  visibility: visible;
}

.sitenav-item:hover .sitenav-hiddens {
  opacity: 1;
  visibility: visible;
}

.sitenav-hidden {
  margin: 1rem 0;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: #ffffff;
  padding: 2.4rem;
  border-radius: 1rem;
  top: 2.1rem;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.149126);
  width: 15.3rem;
  right: 0;
}

.sitenav-hiddens {
  margin: 1rem 0;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: #ffffff;
  padding: 2.4rem;
  border-radius: 10px;
  top: 21px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.149126);
  width: 11.6rem;
  right: 0;
}

.lists:hover .sitenav-hiddensed {
  opacity: 1;
  visibility: visible;
}

.sitenav-hiddensed {
  margin: 1rem 0;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: #ffffff;
  padding: 2.4rem;
  border-radius: 1rem;
  top: 21px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.149126);
  width: 15.3rem;
  margin-left: 10rem;
  margin-top: -2rem;
}

.sitenav-hidden-item {
  font-family: "Epilogue";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1em;
  color: #686868;
  padding-bottom: 1.6rem;
}

.sitenav-hidden-item:last-child {
  padding-bottom: 0;
}

.header-bottom-line {
  padding-left: 300px;
}

.login {
  font-family: "Epilogue";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6em;
  text-align: left;
  text-decoration: none;
  color: #686868;
  padding-right: 40px;
}

.botton {
  cursor: pointer;
  font-family: "Epilogue";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1em;
  padding: 1.3rem 2.2rem 1.3rem 2.3rem;
  border-radius: 1.2rem;
  background-color: #fff;
  color: #686868;
}

.botton:hover {
  background-color: #ffffff;
  color: #151515;
  border-color: #686868;
}

.main-line {
  display: flex;
  gap: 125px;
}

.main-text {
  margin-top: 18.4rem;
  margin-left: 15rem;

  p:nth-child(1) {
    font-family: "Epilogue";
    font-size: 7.3rem;
    font-weight: 700;
    line-height: 8rem;
    color: #151515;
  }

  .text {
    padding-top: 4.8rem;
    font-family: "Epilogue";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5em;
    text-align: left;
    color: #686868;
  }
}

.bottom {
  cursor: pointer;
  font-family: "Epilogue";
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.5em;
  text-align: center;
  margin-top: 5.1rem;
  padding: 1.5rem 2.8rem 1.3rem 3.1rem;
  background-color: #151515;
  color: white;
  border-radius: 1.2rem;
}

.bottom:hover {
  background-color: #ffffff;
  color: #000;
  border-color: #000;
}

.logo {
  margin-top: 10.8rem;
  display: flex;

  img {
    padding-right: 40px;
  }
}

.img {
  padding-top: 13rem;
}
